:root {
    --headerColor: #212121;
    --navColor: rgb(51, 51, 51);
    --font-color: #fff;
    --hoer-color: #3f0d75;
}

a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0%;
    box-sizing: border-box;
    background-color: var(--bacColor);
}

#searchTop {
    padding: 1%;
    border-radius: 20px;
}

.header {
    grid-area: header;
    background: url('../image/Musical.jpg') no-repeat;
    background-size: cover;
    height: 80px;
    width: 100%;
    font-size: x-large;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
}

.header :first-child {
    margin-left: 2%;
}

.header a:hover {
    font-size: xx-large;
}

.navbar {
    position: sticky;
    grid-area: navbar;
}

.Slideshow {
    background: url('../image/959083-bed-sunset-digital.jpg') no-repeat;
    background-size: cover;
    grid-area: Slideshow;
    background-color: #2600ad;
    padding: 20rem;
}

.body {
    grid-area: body;
    background-color: #7600ad;
    padding: 30rem;
}

.footer {
    grid-area: footer;
    background-color: chartreuse;
    padding: 4rem;
}

.Continer {
    grid-template-areas:
        'header header header header '
        'navbar navbar navbar navbar '
        'body body body body'
        'footer footer footer footer'
    ;
}

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom right, #383f85, #550fab);
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #b000b0;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .Slideshow {
        background-image: url('../image/HD-wallpaper-music.jpg');
        background-size: contain;
    }
}